<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
	  <ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
	  <ion-content>
	  	<div class="menu-user-info">
	  		<img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM69icpPGKKricaVbxXLjSOo5e2cibXRrVu1cdPwSaGyrFw5icE826FvnMRW6q0lF4PiacC6wU9icMFPqQAw/0">
	  		<h3 class="color-light">这里是昵称</h3>
	  		<h6 class="color-gray">这里是个性签名</h6>
	  	</div>
	    <div class="list">
           <ion-item nav-clear menu-close class="item item-icon-right color-positive" href="#/app/home">
                <i class="icon ion-home"></i>
                首页
            </ion-item>
            <ion-item nav-clear menu-close class="item item-icon-right color-positive" href="#/app/search">
                <i class="icon ion-ios-search"></i>
                搜索钓场
            </ion-item>
            <ion-item nav-clear menu-close class="item item-icon-right color-positive" href="#/app/music">
                <i class="icon ion-ios-musical-notes"></i>
                来点儿音乐
            </ion-item>
        </div>
	  </ion-content>
	</ion-side-menu>
</ion-side-menus>