<ion-view class="music-bg">
    <div class="container">
    	<ion-slide-box class="slide-box">
          <ion-slide>
          	<ion-content>
	          	<div class="music-list-box">
	          		<div class="list">
	          			<div ng-repeat="song in MusicList track by $index" ng-class="{true:'color-positive',false:'color-light'}[song.id==currentSong.song.id]" class="item item-icon-right pading-artistic" ng-click="loadMusic($index)">
          					<i class="icon ion-ios-musical-note" ng-if="song.id!==currentSong.song.id"></i>
          					<i class="icon ion-ios-pause" ng-if="!playing&&song.id==currentSong.song.id"></i>
          					<i class="icon ion-ios-play" ng-if="playing&&song.id==currentSong.song.id"></i>
			                <span class="artistic">{{song.singer}}</span>
			                {{song.title}}
			            </div>
	          		</div>
	          	</div>
          	<ion-content>
          </ion-slide>
          <!-- 正在播放的歌曲 -->
          <ion-slide>
          	<ion-content>
          		<div class="current-music-item txt-center">
          			<h3 class="color-light">{{currentSong.song.title}}</h3>
          			<h5 class="color-light">—{{currentSong.song.singer}}—</h5>
          			<div class="special-picture">
          				<img ng-class="{true:'run',false:'pause'}[playing]" ng-src="{{currentSong.song.specialPic}}">
          			</div>
          		</div>
          	<ion-content>
          </ion-slide>
        </ion-slide-box>
    </div>
    <div class="music-footer" id="music-control">
    	<div class="music-prog-bar">
    		<span class="current-time">{{currentSong.currTime|formattime}}</span>
    		<div class="prog-outer">
    			<div class="progress-bar">
	    			<span class="current-line" style="width:{{currentSong.progress*100}}%"></span>
	    			<span id="time-control-dot" class="time-handle"  style="left:{{currentSong.progress*100}}%"></span>
	    		</div>
    		</div>
    		<span class="total-time">{{currentSong.totalTime|formattime}}</span>
		</div>
		<div class="row music-contrl-bar">
			<div class="col">
				<span class="prev" ng-click="prev()" title="上一首">
					<i class="ion ion-ios-skipbackward"></i>
				</span>
			</div>
			<div class="col">
				<span class="play" ng-click="play()" ng-if="!playing" title="播放">
					<i class="ion ion-play"></i>
				</span>
				<span class="play" ng-click="pause()" ng-if="playing" title="暂停">
					<i class="ion ion-pause"></i>
				</span>
			</div>
			<div class="col">
				<span class="next" ng-click="next()" title="下一首">
					<i class="ion ion-ios-skipforward"></i>
				</span>
			</div>
		</div>
		<div style="display:none">
			<audio id="audio" src="{{currentSong.song.source}}" controls="controls">
			</audio>
		</div>
    </div>
</ion-view>
