<!-- 搜索层 -->
<ion-view>
    <ion-nav-bar class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="输入查询内容">
        </label>
        <button type="submit" style="display:none">搜索</button>
        <a ng-href="#/app/home" class="button button-clear button-positive">
            取消
        </a>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="list">
        </div>
    </ion-content>
</ion-view>
